<h1>About Us</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project that Mattan Griffel teaches 
	<%= link_to "Ruby On Rails", "http://rubyonrails.org" %>
	in one month. This is the sample application I will be following this weekend to crank out this Clone Web Application.
</p>



