<div class="hero-unit">
	<h1>Welcome to Pinterest Clone</h1>

	<p>
		You've found the home page for the 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %> 
		tutorial application. This is the Pinterest Clone Application using Ruby on Rails.
	</p>

	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>

</div>





